{% extends "base.html" %}

{% block title %}
Vehicles
{% endblock %}

{% block content %}
    <div id="vehicles">
      {% for vehicle in vehicles %}
      <div class="vehicle" id="vehicle-{{ vehicle.id }}">
        {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
      </div>
      {% endfor %}
    </div>
    <br>
    <div class="add-vehicle">
      <form action="">
        <label for="name">Name</label><br>
        <input type="text" id="name"><br>
        <label for="make">Make</label><br>
        <input type="text" id="make"><br>
        <label for="model">Model</label><br>
        <input type="text" id="model"><br>
        <label for="year">Year</label><br>
        <input type="number" min="2000" max="2024" id="year"><br>
        <label for="milage">Milage</label><br>
        <input type="number" id="milage"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
{% endblock %}
