{% extends "base.html" %}

{% block title %}
Vehicles
{% endblock %}

{% block content %}
<div id="vehicles" class="grid grid-cols-1 gap-1 md:gap-x-2 md:grid-cols-3 md:auto-cols-auto">
  {% for vehicle in vehicles %}
  {% with vehicle=vehicle %}
  {% include "vehicle.html" %}
  {% endwith %}
  {% endfor %}
  {% include "add_vehicle_item.html" %}
</div>
<br>
<div id="add_vehicle_form"></div>
<script>
  function add_fillup(id) {
    window.location.href = `/vehicle/${id}/fillup`
  }
</script>
{% endblock %}